@{
    ViewData["Title"] = "ارتباط با ما";
}
<hr>
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">راه های ارتباطی</div>
  <div class="card-body text-secondary">
    <h5 class="card-title"> شماره تماس: 09013113894</h5>
    <h5 class="card-title">ایمیل: aryan.saedi.1384@gmail.com </h5>
    <h5 class="card-title">تلگرام: lllarian</h5>


  </div>
</div>